<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBU_1LeVxkJwOxzX61lcKBMmzlcjkFGR6s</string>
	<key>GCM_SENDER_ID</key>
	<string>975927484167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.liveasy.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>phoneauthflutter-25aa0</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauthflutter-25aa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975927484167:ios:6f3ed78ad96c716b4aafa2</string>
</dict>
</plist>